@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

/*.************ RESET ************.*/
*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}